@import 'reset.scss';

header{
img{
  width:100%;
}
}
.product-info{
  background-color:#fff;
  border-bottom:1px solid $borderColor;
  table{
  width:100%;
    padding-top:30px;
    padding-bottom:14px;
    padding-left:20px;
    th{
      color:$greyTitle;
      text-align: left;
    }
    .percent{
      font-size:20px;
      color:$greenBackground;
    }
    td{
      line-height:30px;
      font-size:18px;
    }
  }
  ul{
    li{
      line-height:44px;
      margin-left:12px;
      border-bottom:1px solid $borderColor;
      span{
        float:right;
        padding-right:20px;
        font-size:20px;
      }
    }
    li:last-child{
      border-bottom:none;
    }
  }
}
.btn{
  height:30px;
  margin-top:10px;
  input{
    display: block;
    height: 46px;
    width: 100%;
    font-size: 1.1rem;
    border: none;
    background: $greenBackground;
    color: #ffffff;
  }
}